.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.webname {
    color: rgb(193,193,193);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}
